[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Rdio
Comment=
Exec=rdio
Icon=rdio-icon.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Music;